[Unit]
Description=uWSGI instance to serve flaskapp
After=network.target

[Service]
User=deploy
Group=www-data
WorkingDirectory=/home/deploy/flaskapp
Environment="PATH=/home/deploy/flaskapp/venv/bin"
ExecStart=/home/deploy/flaskapp/venv/bin/uwsgi --ini flaskapp.ini

[Install]
WantedBy=multi-user.target
